form {
    margin: 20px;
}

.navbar .navbar-brand > img { 
    max-height: 40px; 
}

#userlist *, #followeelist * {
    text-align: center;
    margin-bottom: 4px;
}

#userlist, #followeelist {
    list-style: none;
} 

#userlist img, #followeelist img  {
    height: 120px;
}
